/******************************************************************************\
|* POST
|* Ghost element
\******************************************************************************/

// Title - basically an h1
// (Ghost uses h2 on the homepage, but uses h1 inside the posts)
.post-title {
    font-family: "Playfair Display", serif;
    font-style: italic;
    text-align: center;
}

// Meta information
.post-meta {
    color: $secondary-light;
    text-align: center;
    margin-top: 1em;
    
    // Tags
    a {
        @include transition(opacity, $timing-default, ease);
        background: $secondary-light;
        color: $main-light;
        opacity: .3;
        padding: 1px 8px 3px;
        border-radius: 3px;
        
        &:hover {
            opacity: 1;
        }
    }
}

// Content
.post-content {
    margin-top: 3em;
    
    // Text links
    a {
        @include transition(color, $timing-default, ease);
        position: relative;
        
        &::after {
            transition: $timing-default ease;
            content: '';
            height: 1px;
            background-color: $main-emphasis;
            position: absolute;
            left: 1px;
            right: 0;
            bottom: 2px;
        }
        
        &:hover {
            color: $main-emphasis;
            
            &::after {
                bottom: 1px;
                @include transform(translate(0, 1px));
            }
        }
    }
    
    // Images
    img {
        max-width: 100%;
    }
}

// Footer
.post-footer {
    .share {
        font-size: 2em;
        text-align: center;
        margin: 1em 0;
        
        &::before {
            content: '';
            width: 50%;
            border-top: 1px solid $secondary-light;
            opacity: .5;
            display: block;
            position: relative;
            left: 25%;
            margin: 2em 0 1.5em;
        }
    }
    
        a {
            @include transition(opacity $timing-default ease);
            opacity: .4;
            
            &:hover {
                opacity: 1;
            }
        }
    
    // Fix for the weirdly bigger Google+ symbol
    .icon-google-plus {
        font-size: .9em;
    }
}
