/******************************************************************************\
|* BASE
\******************************************************************************/

html {
    min-width: 480px;
    background: $main-light;
    color: $main-dark;
}
