/**
 * Body
 */
.body {
    max-width: 40rem;
    margin-left: $sidebar-width;
    padding-left: 5rem;
    
    &-wrapper {
        @extend %wrapper-padding-default;
    }
    
    // Responsiveness
    @include respond-to(medium) {
        padding-left: 0;
        margin: 0 auto;
    }
}
