/******************************************************************************\
|* BODY
\******************************************************************************/

.body {
    max-width: 40rem;
    line-height: 1.5em; // 18 * 1.5 = 27px
    padding-top: 1.5em; // 18 * 1.5 = 27px
    padding-left: 5rem;
    margin-left: $sidebar-width;
    
    // Responsiveness
    @include respond-to(medium) {
        padding-left: 0;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 1em;
    }
}
