/**
 * Sidebar
 */
.sidebar {
    display: table;
    height: 100%;
    position: fixed;
    width: $sidebar-width;
    background: $main-dark;
    color: $main-light;
    
    // Inner padding wrapper
    &-wrapper {
        @extend %wrapper-padding-default;
        display: table-cell;
        vertical-align: bottom;
    }
    
    // Title
    h1 {
        
    }
    
    // Subtitle
    h2 {
        
    }
}
