/******************************************************************************\
|* SIDEBAR
\******************************************************************************/
 
// Some dimensions
$personal-avatar: 80px;
$personal-intro: $sidebar-width - $personal-avatar;
    
.sidebar {
    display: table;
    height: 100%;
    position: fixed;
    width: $sidebar-width;
    background: $main-dark;
    color: $main-light;
    
    // Inner padding wrapper
    &-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        
        @include respond-to(medium) {
            position: static;
        }
    }
    
    // Responsiveness
    @include respond-to(medium) {
        display: block;
        position: static;
        width: 100%;
    }
}

    // Small section about me
    .about-me {
        @include transition(all $timing-default ease);
        $border-width: 40px;
        color: $main-dark;
        max-width: 80px;
        max-height: 80px;
        overflow: hidden;
        background: $main-dark;
        position: relative;
        
        .hover &:hover,
        .open & {
            max-width: 300px;
            max-height: 150px;
            background: $main-light;
            
            &::after {
                $border-width-pseudo: $border-width / 3;
                $border-colour-pseudo: $main-dark;
                border-top: $border-width-pseudo solid transparent;
                border-left: $border-width-pseudo solid transparent;
                border-right: $border-width-pseudo solid $border-colour-pseudo;
                border-bottom: $border-width-pseudo solid $border-colour-pseudo;
                // Remove any ongoing animation:
                @include animation('none !important');
            }
        }
        
        &::after {
            @include transition(all $timing-default ease);
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            border-top: $border-width solid transparent;
            border-left: $border-width solid transparent;
            border-right: $border-width solid $main-dark;
            border-bottom: $border-width solid $main-dark;
            
            // Peek animation
            $peek-border: $border-width - 10px;
            $peek-duration: .3s;
            $peek-repetitions: 2;
            @include keyframes('peek') {
                50% {
                    border-top: $peek-border solid transparent;
                    border-left: $peek-border solid transparent;
                    border-right: $peek-border solid $main-dark;
                    border-bottom: $peek-border solid $main-dark;
                }
            }
            .hover:hover & {
                @include animation('peek .4s 2');
            }
            
        }
        
        // Responsiveness
        @include respond-to(medium) {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            
            .hover &:hover,
            .open & {
                width: 100%;
                max-width: 3000px;
            }
        }
        
        @include respond-to(small) {
            min-height: $personal-avatar;
        }
    }
    
        .mini-me {
            width: $personal-avatar;
            position: absolute;
            top: 0;
            left: 0;

            @include respond-to(medium) {
                display: block;
                position: relative;
            }
            
            @include respond-to(small) {
                position: absolute;
                left: 0;
            }
        }
        
        .mini-bio {
            width: $personal-intro - $padding-default * 2;
            position: absolute;
            top: 0;
            left: $personal-avatar;
            font-size: .75em;
            padding-top: 13px;
            padding-left: 15px;
            
            @include respond-to(medium) {
                width: 50%;
                font-size: .85em;
            }
            
            @include respond-to(small) {
                display: none;
            }
        }

        // About Me section of the sidebar
        .find-me {
            @extend %wrapper-padding-default;
            width: $sidebar-width - $padding-default * 2;
            margin-top: $personal-avatar;
            display: flex;
            justify-content: space-between;
            
            @include respond-to(medium) {
                margin-top: 10px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                
                .about-me:hover &,
                .open & {
                    z-index: 0;
                }
            }
            
            @include respond-to(small) {
                top: -.4em;
                left: 50%;
                font-size: 1.2em;
                margin-left: -($sidebar-width - $padding-default * 2) / 2;
            }
        }

            .social-link {
                @include transition(opacity $timing-default ease);
                display: inline;
                opacity: .5;
                font-size: 1.5em;
                
                span {
                    width: 14.28%;
                }
                
                &:hover {
                    opacity: 1;
                }
            }

    // Small section about the blog itself
    .about-blog {
        @extend %wrapper-padding-default;
        @include transition(all $timing-default ease);
        text-align: left;
        position: absolute;
        bottom: 0;
        
        @include respond-to(medium) {
            width: 100%;
            position: relative;
            z-index: 1;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            margin-top: -80px;
            
            .hover:hover &,
            .open & {
                margin-top: 0;
            }
        }
    }
    
        .blog-title {
            font-family: "Montserrat", sans-serif;
            font-size: 2.4em;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin: 0;
            
        
            @include respond-to(small) {
                font-size: 1.5em;
            }
        }
        
        .blog-description {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: .75em;
            letter-spacing: 1px;
            margin: 1em 0 0;
            color: $secondary-light;
        }
