/******************************************************************************\
|* TYPOGRAPHY
|* Inspired by http://www.smashingmagazine.com/2011/03/14/technical-web-typography-guidelines-and-techniques/
|* Also good resource http://css-tricks.com/rems-ems/
\******************************************************************************/

/**
 * Base
 */
html {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.125em; // 16 (browser's default) * 1.125 = 18px
    background: $main-light;
    color: $main-dark;
    
    // TODO
    @media (max-width: 1150px) {
        & {
            font-size: 16px;
        }
    }
    @media (max-width: 700px) {
        & {
            font-size: 15px;
        }
    }
}

/**
 * Headings
 *   Base font size: 18px
 *   Line height:    27px (18px x 1.5em)
 *   h1 font size:   54px
 *   h2 font size:   45px
 *   h3 font size:   36px
 *   h4 font size:   27px
 *   h5 font size:   27px
 *   h6 font size:   27px
 */
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    font-weight: 800;
}

h1 {
    font-size: 3em;   /* 54px --> 54 / 18 = 3 */
    line-height: 1em; /* 54px --> 54 / 54 = 1 */
    margin: 1.5em 0 1em; /* Overrides normalize.css */
}

h2 {
    font-size: 2.5em;   /* 45px --> 45 / 18 = 2.5 */
    line-height: 1.2em; /* 52px --> 54 / 45 = 1.2 */
    margin: 1.8em 0 1.2em; /* Overrides normalize.css */
}

h3 {
    font-size: 2em;     /* 36px --> 36 / 18 = 2 */
    line-height: 1.5em; /* 54px --> 54 / 36 = 1.5 */
    margin: 1.5em 0 .75em; /* Overrides normalize.css */
}

h4,
h5,
h6 {
    font-size: 1.5em; /* 27px --> 27 / 18 = 1.5 */
    line-height: 1em; /* 27px --> 27 / 27 = 1 */
    margin: 1.5em 0 .5em; /* Overrides normalize.css */
}

/**
 * Other general typographic elements
 */
a {
    color: inherit;
    text-decoration: none;
}

b,
strong {
  font-weight: 600;
}

p {
  margin: 1.5em 0;
}

// Smart quotes
// Idea from http://css-tricks.com/almanac/properties/q/quotes/
// and from http://webdesign.tutsplus.com/articles/start-using-quotation-marks-the-correct-way--webdesign-16905
q, 
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-style: italic;
    position: relative;
    
    em {
        font-style: normal;
    }
}

blockquote {
    font-size: 1.5em;
    position: relative;
    
    &::before {
        content: open-quote;
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 2em;
        color: #9b9b9b;
        position: absolute;
        top: 0;
        left: -.5em;
    }

    &::after {
        content: no-close-quote;
    }
}
