/******************************************************************************\
|* TYPOGRAPHY
\******************************************************************************/

html {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.125em; // 16 * 1.125 = 18px
    background: $main-light;
    color: $main-dark;
    
    // TODO
    @media (max-width: 1150px) {
        & {
            font-size: 15px;
        }
    }
    @media (max-width: 700px) {
        & {
            font-size: 13px;
        }
    }
}

body {
    line-height: 1.5em; // 18 * 1.5 = 27px
}

// Set up all typography outside `.sidebar`
.body {
    padding-top: 3em; // 27 * 3 = 81px
}


/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    margin-bottom: 1em;
    font-weight: 800;
}

// (magic number) / (font size) = (line height)
.post-title,
h1 {
    font-size: 3em;   /* 54px --> 54 / 18 = 3 */
    line-height: 1em; /* 54px --> 54 / 54 = 1 */
}

h2 {
    font-size: 2.5em;   /* 45px --> 45 / 18 = 2.5 */
    line-height: 1.2em; /* 27px --> 54 / 45 = 1.2 */
}

h3 {
    font-size: 2em;     /* 36px --> 36 / 18 = 2 */
    line-height: 1.5em; /* 27px --> 54 / 36 = 1.5 */
}

h4 {
    font-size: 1.5em;   /* 27px --> 27 / 18 = 1.5 */
    line-height: 1.5em; /* 27px --> 54 / 27 = 1.5 */
}

h5,
h6 {
    font-size: 1em;     /* 18px --> 18 / 18 = 1 */
    line-height: 1.5em; /* 27px --> 27 / 18 = 1.5 */
}



p {
    margin-bottom: 1em;
}





// Post title - basically an h1
    // (Ghost uses h2 on the homepage, but uses h1 inside the posts)
    .post-title {
        font-family: "Playfair Display", serif;
        text-align: center;
    }



h2, h3, h4 {
}



.sidebar {
    h1 {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: 0;
    }
    
    h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 1em;
        letter-spacing: 1px;
        color: $secondary-light;
    }
}

div,
p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

b,
strong {
  font-weight: 600;
}

// Smart quotes
// Idea from http://css-tricks.com/almanac/properties/q/quotes/
// and from http://webdesign.tutsplus.com/articles/start-using-quotation-marks-the-correct-way--webdesign-16905
q, 
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-style: italic;
    position: relative;
    
    em {
        font-style: normal;
    }
}

blockquote {
    font-size: 1.5em;
    position: relative;
    
    &::before {
        content: open-quote;
        font-family: "Playfair Display";
        font-style: normal;
        font-size: 2em;
        color: #9b9b9b;
        position: absolute;
        top: -.4em;
        left: -.5em;
    }

    &::after {
        content: no-close-quote;
    }
}

/**
 * Font sizing
 * Inspired on http://css-tricks.com/rems-ems/
 */

/* Document level adjustments */
/*
html {
  font-size: 17px;
}
@media (max-width: 1150px) {
  html { font-size: 15px; }
}
@media (max-width: 700px) {
  html { font-size: 13px; }
}
*/
/* Modules will scale with document */
.header {
  font-size: 1.5rem;
}
.footer {
  font-size: 0.75rem;
}
.sidebar {
  font-size: 0.85rem;
}

/* Type will scale with modules */
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
