/**
 * Utility classes & mixins
 */

.hidden {
    display: none;
}

// Default padding
// Extending silent classes in Sass:
// http://csswizardry.com/2014/01/extending-silent-classes-in-sass/
.wrapper-padding-default,
%wrapper-padding-default {
    padding: $padding-default;
}

/**
 * Mixins
 */
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

@mixin transform($transforms) {
    -webkit-transform: $transforms;
       -moz-transform: $transforms;
        -ms-transform: $transforms;
         -o-transform: $transforms;
            transform: $transforms;
}
